:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --gray-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    background-color: var(--light-gray);
}

* {
    font-family: 'Outfit', sans-serif;
}

html, body {
    height: 100%;
}
body {
    margin: 0;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: auto;
    background-color: var(--white);
    border-radius: 20px;
    padding: 1rem;
    width: 22rem;
}

img {
    width: 100%;
}

.main-text {
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 1.5rem;
}

.sub-text {
    color: var(--gray-blue);
    font-weight: 400;
    font-size: 0.9rem;
}